###### Requirements without Version Specifiers ######
click==7.1.2
fastapi==0.63.0
uvicorn[standard]==0.13.4
h11==0.12.0
pydantic==1.8.1
starlette==0.13.6
typing-extensions==3.7.4.3
azure==4.0.0
# azure-storages==0.36.0
azure-storage-queue==1.4.0
azure-data-tables==12.3.0
# logging
# urllib
requests==2.25.1
bs4==0.0.1
# urlparse
pytz==2022.1
# gunicorn==20.1.0
pandas==1.4.2
nltk==3.7
gensim==4.2.0
uvloop
httptools
translate==3.6.1